#container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
     align-items: center;
}
h1 {
    animation: cambio 3s infinite;
    text-align: center;
  }
  
  @keyframes cambio {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }
  img {
    width: 10%;
    height: auto;
  }
p {
    backdrop-filter: blur(10px);
    padding: 5px;
  }
  body{
    background-color: beige;
  }
  